<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="home-title">
        <h1>Welcome to Rent a Creature!</h1>
        <h2>Featured Creatures</h2>
      </div>
      <div class="row my-3 justify-content-center">
        <% @creatures.each do |creature| %>
          <div class="col-12 col-sm-6 col-md-4 mb-4 pokemon-card-container">
            <%= link_to creature_path(creature), class: "clickable-container" do %>
              <div class="pokemon-card">
                <div class="pokemon-card-image-container">
                  <%= cl_image_tag creature.photo.key, class: "card-image" if creature.photo.attached? %>
                </div>
                <div class="pokemon-card-content">
                  <h3 class="pokemon-card-name"><%= creature.name %></h3>
                  <p class="pokemon-card-description"><%= creature.description %></p>
                  <div class="pokemon-card-price">
                    <span>$<%= creature.price %><small>/day</small></span>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
