<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="home-title">
        <h1>Welcome to Rent a Creature!</h1>
        <h2>Featured Creatures</h2>
      </div>
      <div class="row my-3 justify-content-center">
        <% @creatures.each do |creature| %>
          <div class="col-12 col-sm-6 col-md-4 mb-4" style="max-width: 350px;">
            <%= link_to creature_path(creature), class: "clickable-container" do %>
              <div class="card">
                <%= image_tag cl_image_path(creature.photo.key, secure: true), class: "card-image" if creature.photo.attached? %>
                <div class="card-content">
                  <h3 class="card-name"><%= creature.name %></h3>
                  <p class="card-description"><%= creature.description %></p>
                  <p class="card-price">Price: $<%= creature.price %> per day</p>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
