<%= simple_form_for (@creature) do |f| %>
  <div class="pokemon-form-group">
    <%= f.label :name, class: 'pokemon-form-label' %>
    <%= f.input_field :name, class: 'pokemon-form-control' %>
  </div>

  <div class="pokemon-form-group">
    <%= f.label :description, class: 'pokemon-form-label' %>
    <%= f.input_field :description, as: :text, class: 'pokemon-form-control' %>
  </div>

  <div class="pokemon-form-group pokemon-address-container" data-controller="address-autocomplete" data-address-autocomplete-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    <%= f.label :address, class: 'pokemon-form-label' %>
    <%= f.input_field :address,
        class: 'pokemon-form-control',
        data: {address_autocomplete_target: "address"}
    %>

    <!-- Map container that will show once address is selected -->
    <div class="pokemon-map-container mt-3 <%= @creature.address.present? ? '' : 'd-none' %>" data-address-autocomplete-target="mapContainer">
      <div
        class="form-location-map"
        data-controller="map"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
        data-map-markers-value="<%= @creature.address.present? ? [{lat: @creature.latitude, lng: @creature.longitude, info_window_html: @creature.address}].to_json : '[]' %>"
        data-map-options-value='{"disableSearchBox": true}'
        data-address-autocomplete-target="map">
      </div>
    </div>
  </div>

  <div class="pokemon-form-group">
    <%= f.label :photo, class: 'pokemon-form-label' %>
    <% if @creature.persisted? && @creature.photo.attached? %>
      <div class="current-photo-container mb-3">
        <p class="mb-2"><strong>Current Photo:</strong></p>
        <%= image_tag url_for(@creature.photo), class: "current-creature-photo" %>
      </div>
    <% end %>
    <div class="pokemon-file-input-wrapper" data-controller="file-input">
      <div class="pokemon-file-controls">
        <label for="creature_photo" class="pokemon-file-button">
          CHOOSE <%= @creature.persisted? && @creature.photo.attached? ? 'NEW ' : '' %>FILE
        </label>
      </div>
      <div class="pokemon-file-name" data-file-input-target="filename">No file chosen</div>
      <%= f.input_field :photo, as: :file, class: 'pokemon-form-control d-none', id: 'creature_photo', data: {file_input_target: "input"} %>
    </div>
  </div>

  <div class="pokemon-form-group">
    <%= f.label :available, class: 'pokemon-form-label' %>
    <div class="pokemon-toggle-container mt-2">
      <div class="pokemon-radio-group">
        <%= f.radio_button :available, true, class: 'pokemon-radio-input', id: 'available-true' %>
        <label for="available-true" class="pokemon-radio-label available">
          <span class="poke-dot"></span>
          AVAILABLE
        </label>

        <%= f.radio_button :available, false, class: 'pokemon-radio-input', id: 'available-false' %>
        <label for="available-false" class="pokemon-radio-label unavailable">
          <span class="poke-dot"></span>
          UNAVAILABLE
        </label>
      </div>
    </div>
  </div>

  <div class="pokemon-form-group">
    <%= f.label :price, class: 'pokemon-form-label' %>
    <%= f.input_field :price, class: 'pokemon-form-control', min: 0, step: 0.01 %>
  </div>

  <%= f.submit @creature.new_record? ? "CREATE CREATURE" : "UPDATE CREATURE", class: "pokemon-form-submit mt-4" %>
<% end %>
